QUANTNEWS_TELEGRAM_BOT_TOKEN=
QUANTNEWS_TELEGRAM_CHAT_ID=

QUANTNEWS_SMTP_HOST=smtp.gmail.com
QUANTNEWS_SMTP_PORT=587
QUANTNEWS_SMTP_USERNAME=
QUANTNEWS_SMTP_PASSWORD=
QUANTNEWS_EMAIL_FROM=
QUANTNEWS_EMAIL_TO=
